body {
  background-color: black;
  color: white;
  text-align: center;
}

a {
  color: white;
}

#identities {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#identities td, #identities th {
  border: 1px solid #ddd;
  padding: 8px;
}

#identities tr:nth-child(even){background-color: #363636;}

#identities tr:hover {
  color: #854b00;
}

#identities th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #854b00;
  color: white;
}
